{% extends 'blog/base.html' %}
{% block title %}title{% endblock %}
{% block header %}{% endblock %}
{% block content %}



<h1>{{ object.title }}</h1>
<span>{{ object.datetime}}<br>{{ object.category}}</span><br>
<img src="https://storage.googleapis.com/colors_blog/{{ blog.document }}"
><br>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<p>{{ object.text|safe }}</p>
<!--
<a href="{% url 'blog_delete' pk=object.pk %}">削除</a>
<a href="{% url 'blog_update' pk=object.pk %}">編集</a>
-->
<style>
img{
  float: left;
  margin: 10px 0px 10px 0px;
  width: 100%;
}
.container-fluid{
  margin: 30px 10px 10px 0px;
}
</style>
{% endblock %}
